@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$blue: #0069FF;
$white: #fff;
$grey: #9EA2BE;

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
  color: $white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}